
     
     @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
     /*Global Styling*/
     * {
         font-family: "Quicksand", sans-serif;
       }
     
     body {
       margin: 0;
       padding: 0;
      background-color:  rgb(235, 229, 229);
     }
     
     h3,
     h6 {
       margin-top: 2%;
       margin-left: 10px;
       color:  gray;;
     }
     
     h3{
       font: 600 24px/28px;
       text-align: left;
       margin-left: 20px;
     }
     .account,
     p {
       width: 300px;
       text-align: center;
       margin: auto;
       margin-top: 2%;
       font: 16px/26px;
       font-weight: bold;
     }
     .sign-up-form {
       width: 28%;
       box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
       background-color: #fff;
       padding: 20px;
       margin: 2% auto 0;
       text-align: center;
     }
     
     .fullname {
       position: relative;
       margin: 0 16px;
       border-bottom: 2px solid #f8f8f8;
       padding: 6px 0;
     }
     
     .fullname::before {
       content: "";
       position: absolute;
       left: 0;
       top: 20px;
       width: 18px;
       height: 12px;
     }
     
     .email {
       position: relative;
       margin: 0 16px;
       border-bottom: 2px solid #f8f8f8;
       padding: 6px 0;
     }
     
     .email::before {
       content: "";
       position: absolute;
       left: 0;
       top: 20px;
       width: 18px;
       height: 12px;
     }
     
     .mobileno {
       position: relative;
       margin: 0 16px;
       border-bottom: 2px solid #f8f8f8;
       padding: 6px 0;
     }
     
     .mobileno::before {
       content: "";
       position: absolute;
       left: 0;
       top: 15px;
       width: 18px;
       height: 18px;
     }
     
     .paswrd {
       position: relative;
       margin: 0 16px;
       border-bottom: 2px solid #f8f8f8;
       padding: 6px 0;
     }
     
     .paswrd::before {
       content: "";
       position: absolute;
       left: 0;
       top: 15px;
       width: 18px;
       height: 18px;
     }
     .sign-up-form .fullname input[type="text"],
     .sign-up-form .email input[type="email"],
     .sign-up-form .paswrd input[type="password"],
     .sign-up-form .otpsent input[type="password"] {
       border: 1px solid white;
       width: 95%;
       height: 40px;
       outline: 0;
       font: 18px/21px;
       color: #333;
       padding: 0 12px;
       margin: 0 0 10px;
     }
     
     
     
     .sign-up-form .mobileno input[type="tel"] {
       border: 1px solid white;
       width: 100%;
       height: 40px;
       outline: 0;
       color: #333;
       padding: 0 12px;
       margin: 0 0 10px;
     }
     .gender {
       position: relative;
       width: 100%;
       margin: 5px 0 15px;
       padding: 8px 0 15px 50px;
       float: none;
       text-align: left;
       margin-left: -15px;
     }
     .gender::before {
       content: "";
       position: absolute;
       left: 14px;
       top: 10px;
       width: 22px;
       height: 18px;
      
     }
     
     .continue {
       width: 350px;
       border-radius: 2px;
         color: #fff;
         font-size: 22px;
         padding: 10px;
         font-family: Aqleema-Medium;
         height: 45px;
         background-color: #e40980;
         display: block;
         text-align: center;
         box-shadow: 0 2px 2px 0 rgb(0 0 0 / 24%), 0 0 2px 0 rgb(0 0 0 / 12%);
         margin-top: 20px;
         margin-left: 4.5%;
     }
     
     .continue a {
       color: white;
       text-decoration: none;
     }
     
     .account>img{
       width: 10px;
       margin-top: 5px;
       margin-right: 10px;
     
     }
     .account a {
       color: white;
       text-decoration: none;
       color: #e40980;
       font-size: 14px;
       text-align: center;
     }
             #require {
                 color: red;
                 text-align: center;
             }