<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purple</title>
    <script src="https://kit.fontawesome.com/da2d034d86.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="https://media6.ppl-media.com/mediafiles/ecomm/misc/purplle-16x16.png">
    <link rel=" stylesheet" href="../public/styles/signin.css"/>
</head>
<body>
    <div id="Login">
        
        <h2  class="login-tit">Login/Create Account</h2>
        <form  id="Lform" action="/signin" method="post">
          <div id="formdata1">
            <label class="lable">Enter Mobile No. <span class="require">*</span></label>
            <input autocomplete="off" name="mobile" required="" type="number" >
          </div>
          <div id="formdata2">
            
            <input type="image"  id="btn" src="https://img.icons8.com/external-those-icons-lineal-those-icons/2x/external-right-arrow-cars-components-those-icons-lineal-those-icons.png" height="30px" width="30px" alt="submit" />
          </div>
          </form>
        <p>or connect with</p><!----><!----><!---->
        <div id="social">
          <div  class="sp10">
            <img  alt="Facebook"  src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1542974744_fb-logo.png" class="visible"><!---->
            <span >FACEBOOK</span>
        </div>
        <div  class="sp10">
            <img  alt="Google"  src="https://media6.ppl-media.com/mediafiles/ecomm/misc/1542974745_google-logo.png" class="visible"><!---->
            <span >GOOGLE</span>
        </div>
        </div>
    </div>
</body>
</html>