 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/index.css">
    <script src="../public/scripts/index.js"></script>
    <title>Signup</title>
</head>
<body>
     The Modal2 
   <div id="myModal2" class="modal2"> 


    <div class="modal-content2">
      <span class="close2">&times;</span>
      <h2 class="lg">Login/Create Account</h2>
      <input type="text" class="text" placeholder="Enter Your Name"/>
      <input type="text" class="text" placeholder="Enter Your Email"/>
      <input type="text" class="text" placeholder="Enter Your Mobile Number"/>
      <input type="text" class="text" placeholder="Enter Your Password"/>
      <Button id="button">Create Account</Button>
    </div>
  
  </div>
</body>
</html>




 <!-- Linking script/signup.js file  -->
